@font-face {
  font-family: "Monument";
  src: url("../../fonts/monument/MonumentExtended-Black.eot");
  src: url("../../fonts/monument/MonumentExtended-Black.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/monument/MonumentExtended-Black.woff2") format("woff2"),
    url("../../fonts/monument/MonumentExtended-Black.woff") format("woff"),
    url("../../fonts/monument/MonumentExtended-Black.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Monument";
  src: url("../../fonts/monument/MonumentExtended-Regular.eot");
  src: url("../../fonts/monument/MonumentExtended-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/monument/MonumentExtended-Regular.woff2") format("woff2"),
    url("../../fonts/monument/MonumentExtended-Regular.woff") format("woff"),
    url("../../fonts/monument/MonumentExtended-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
