:root {
  --primary-color: #000;
  --secondary-color: #f5f5f5;
  --day-color: #000;
  --sub-color: #fff;
  --highlight-dark-color: #630000;
  --highlight-light-color: #9f0000;
}

@media screen and (max-width: 980px) {
  :root {
    --highlight-dark-color: var(--highlight-light-color);
  }
}

@font-face {
  font-family: "Monument";
  src: url("../../fonts/monument/MonumentExtended-Black.eot");
  src: url("../../fonts/monument/MonumentExtended-Black.eot?#iefix") format("embedded-opentype"), url("../../fonts/monument/MonumentExtended-Black.woff2") format("woff2"), url("../../fonts/monument/MonumentExtended-Black.woff") format("woff"), url("../../fonts/monument/MonumentExtended-Black.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Monument";
  src: url("../../fonts/monument/MonumentExtended-Regular.eot");
  src: url("../../fonts/monument/MonumentExtended-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/monument/MonumentExtended-Regular.woff2") format("woff2"), url("../../fonts/monument/MonumentExtended-Regular.woff") format("woff"), url("../../fonts/monument/MonumentExtended-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Monument", sans-serif;
  font-weight: 800;
  letter-spacing: -2px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html {
  overflow: hidden;
}

body {
  background-color: var(--primary-color);
  position: relative;
  overflow: hidden;
}

.gdm-container {
  position: absolute;
  bottom: 30px;
  left: 0px;
  width: 100%;
  height: 100px;
  z-index: 99999999;
  overflow: hidden;
  pointer-events: none;
}

.good-morning {
  position: absolute;
  bottom: 30px;
  left: 30px;
  width: 200px;
  z-index: 999999999;
  visibility: hidden;
  pointer-events: none;
}

.fly {
  position: absolute;
  right: -50%;
  width: 30vw;
  height: 100vh;
  z-index: 9999;
  background-color: var(--secondary-color);
}

.resources {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 99999999;
  overflow: hidden;
}

.resources .border-bottom {
  position: absolute;
  top: 0;
  right: 0;
  width: 70vw;
  height: 1px;
  background-color: #111111;
}

.resources a {
  color: #252525;
  letter-spacing: 0;
  font-size: 0.9rem;
  padding: 0.5em;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.resources a:hover {
  color: var(--secondary-color);
}

.top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1em;
  height: 60px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.top-bar .inner-bar {
  position: absolute;
  height: 2px;
  z-index: 5000;
}

.top-bar .inner-bar-1 {
  background-color: var(--highlight-light-color);
  bottom: 15px;
  left: 0;
  width: 30%;
  z-index: -40;
}

.top-bar .inner-bar-2 {
  background-color: var(--highlight-dark-color);
  bottom: 15px;
  right: 0;
  width: 70%;
}

.top-bar .asmt,
.top-bar .asmt span,
.top-bar .sem,
.top-bar .sem span {
  letter-spacing: 0;
}

.top-bar .asmt,
.top-bar .asmt span {
  color: var(--highlight-light-color);
}

.top-bar .sem,
.top-bar .sem span {
  color: var(--highlight-dark-color);
  z-index: 10;
}

.container,
.day,
.sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  height: 100vh;
}

.container .day {
  width: 30%;
  height: 100%;
  background-color: var(--secondary-color);
  z-index: -50;
  -webkit-transform-origin: center left;
          transform-origin: center left;
}

.container .day .today-is {
  overflow: hidden;
  color: var(--day-color);
  font-weight: 900;
  font-size: 5rem;
  text-transform: lowercase;
}

.container .day .today-is span {
  display: inline-block;
}

.container .sub {
  width: 70%;
  height: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  z-index: 1;
}

.container .sub ul {
  margin-left: 5em;
  position: relative;
}

.container .sub ul li {
  margin: 1em 0;
  overflow: hidden;
}

.container .sub ul li a {
  display: inline-block;
  font-size: 4.5rem;
  font-weight: 900;
  letter-spacing: 0;
  color: var(--sub-color);
  padding: 0.5em;
  width: 100%;
  -webkit-transition: background 0.8s ease;
  transition: background 0.8s ease;
  max-width: 12ch;
}

.container .sub ul li a:hover {
  background-color: var(--highlight-dark-color);
}

@media screen and (max-width: 1250px) {
  .container .day .today-is {
    font-size: 3.5rem;
  }
  .container .sub ul {
    margin-left: 0;
  }
  .container .sub ul li a {
    font-size: 4rem;
  }
}

@media screen and (max-width: 1250px) and (max-width: 980px) {
  * {
    -webkit-tap-highlight-color: transparent;
  }
  body {
    height: 100vh;
    width: 100vw;
  }
  .good-morning {
    width: 100px;
  }
  .fly {
    display: none;
  }
  .resources {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .resources .border-bottom {
    width: 100vw;
  }
  .top-bar {
    font-size: 0.5rem;
    height: 50px;
  }
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .day {
    height: 30vh;
    width: 100vw;
    -webkit-transform-origin: bottom center;
            transform-origin: bottom center;
  }
  .container .day .today-is {
    font-size: 4rem;
    margin-top: 1em;
  }
  .container .sub {
    width: 100vw;
    height: 70vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .sub ul {
    margin: 0;
  }
  .container .sub ul li a {
    font-size: 1.8rem;
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */